In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"..\data\Eartquakes-1990-2023.csv")
data.head()

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00
1,631153491210,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00
3,631155512130,"11 km E of Mammoth Lakes, California",reviewed,0,15,earthquake,0.98,California,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3445751 entries, 0 to 3445750
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   time          int64
 1   place         object
 2   status        object
 3   tsunami       int64
 4   significance  int64
 5   data_type     object
 6   magnitudo     float64
 7   state         object
 8   longitude     float64
 9   latitude      float64
 10  depth         float64
 11  date          object
dtypes: float64(4), int64(3), object(5)
memory usage: 315.5+ MB

In [4]:
data.describe()

,time,tsunami,significance,magnitudo,longitude,latitude,depth
count,3.445751e+06,3.445751e+06,3.445751e+06,3.445751e+06,3.445751e+06,3.445751e+06,3.445751e+06
mean,1.247124e+12,4.434447e-04,7.400973e+01,1.774076e+00,-1.012876e+02,3.746483e+01,2.285387e+01
std,2.976292e+11,2.105346e-02,1.016364e+02,1.291055e+00,7.697416e+01,2.041577e+01,5.484938e+01
min,6.311534e+11,0.000000e+00,0.000000e+00,-9.990000e+00,-1.799997e+02,-8.442200e+01,-1.000000e+01
25%,1.024401e+12,0.000000e+00,1.300000e+01,9.100000e-01,-1.464274e+02,3.406400e+01,3.120000e+00
50%,1.282338e+12,0.000000e+00,3.300000e+01,1.460000e+00,-1.189538e+02,3.793567e+01,7.700000e+00
75%,1.508701e+12,0.000000e+00,8.100000e+01,2.300000e+00,-1.159277e+02,4.784800e+01,1.612000e+01
max,1.690629e+12,1.000000e+00,2.910000e+03,9.100000e+00,1.800000e+02,8.738600e+01,7.358000e+02

In [5]:
data.columns

Index(['time', 'place', 'status', 'tsunami', 'significance', 'data_type',
       'magnitudo', 'state', 'longitude', 'latitude', 'depth', 'date'],
      dtype='object')

In [6]:
#data = data.sample(n = 40800, random_state = 0)
sampled_data = data[data["data_type"]=="earthquake"]
sampled_data = data.tail(150000)

In [7]:
sampled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 3295751 to 3445750
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   time          150000 non-null  int64
 1   place         150000 non-null  object
 2   status        150000 non-null  object
 3   tsunami       150000 non-null  int64
 4   significance  150000 non-null  int64
 5   data_type     150000 non-null  object
 6   magnitudo     150000 non-null  float64
 7   state         150000 non-null  object
 8   longitude     150000 non-null  float64
 9   latitude      150000 non-null  float64
 10  depth         150000 non-null  float64
 11  date          150000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 13.7+ MB

In [8]:
from dateutil import parser
date_series = sampled_data.date

def to_timestamp(date_str):
    return parser.parse(date_str)
    
serie_timestamp = date_series.map(to_timestamp)
sampled_data.loc[:,"date"] = serie_timestamp

sampled_data.head()

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
3295751,1657813985224,"71 km SE of Chignik, Alaska",reviewed,0,68,earthquake,2.1,Alaska,-157.5584,55.8626,13.000,2022-07-14 15:53:05.224000+00:00
3295752,1657814064159,"89 km S of Eureka, Nevada",reviewed,0,112,earthquake,2.7,Nevada,-116.1029,38.7152,6.800,2022-07-14 15:54:24.159000+00:00
3295753,1657814080720,"43 km NW of Eureka Roadhouse, Alaska",reviewed,0,26,earthquake,1.3,Alaska,-147.8010,62.1928,38.800,2022-07-14 15:54:40.720000+00:00
3295754,1657814253620,"12 km SSW of Sunrise, Alaska",reviewed,0,12,earthquake,0.9,Alaska,-149.4773,60.7744,11.800,2022-07-14 15:57:33.620000+00:00
3295755,1657814815802,"Pagan region, Northern Mariana Islands",reviewed,0,246,earthquake,4.0,Northern Mariana Islands,146.7491,18.5162,71.541,2022-07-14 16:06:55.802000+00:00

In [9]:
firts_date_tremor = min(sampled_data.date)

*First Steps*

1 Earthquakes: >= 6 degrees on the Richter scale  
2 Tremors: < 6 degrees on the Richter scale

In [10]:
sampled_data = sampled_data.drop(columns=['time','place','status']).copy()

In [11]:
earthquakes_list = sampled_data[sampled_data['magnitudo'] >= 6]
earthquakes_list.head()

,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
3296252,0,631,earthquake,6.4,Chile,-79.6496,-44.6215,24.499,2022-07-15 19:37:22.791000+00:00
3300300,1,1363,earthquake,7.0,Philippines,120.8181,17.5207,33.729,2022-07-27 00:43:26.871000+00:00
3300604,0,613,earthquake,6.2,Chile,-68.5789,-22.1876,112.000,2022-07-27 18:58:58.306000+00:00
3300724,0,612,earthquake,6.1,Chile,-70.3386,-21.9311,54.000,2022-07-28 04:15:03.913000+00:00
3307406,1,672,earthquake,6.6,south of the Kermadec Islands,-179.0088,-32.7361,30.000,2022-08-14 13:44:19.694000+00:00

In [12]:
earthquakes_list.shape

(124, 9)

In [13]:
tremors_list = sampled_data[sampled_data['magnitudo'] < 6]
tremors_list.head()

,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
3295751,0,68,earthquake,2.1,Alaska,-157.5584,55.8626,13.000,2022-07-14 15:53:05.224000+00:00
3295752,0,112,earthquake,2.7,Nevada,-116.1029,38.7152,6.800,2022-07-14 15:54:24.159000+00:00
3295753,0,26,earthquake,1.3,Alaska,-147.8010,62.1928,38.800,2022-07-14 15:54:40.720000+00:00
3295754,0,12,earthquake,0.9,Alaska,-149.4773,60.7744,11.800,2022-07-14 15:57:33.620000+00:00
3295755,0,246,earthquake,4.0,Northern Mariana Islands,146.7491,18.5162,71.541,2022-07-14 16:06:55.802000+00:00

*Next Steps*

3 Function Premonitory Tremors  
4 Filter

In [14]:
from geopy.distance import geodesic
from datetime import timedelta
def calculate_distance(center, point):
    return geodesic(center, point, ellipsoid="WGS-84").km

def premonitory_tremors(earthquake, tremors_list, radius_km, period_days):
    center = (earthquake.latitude, earthquake.longitude)

    # Filter by location
    filter_radius = tremors_list.apply(
        lambda tremor: calculate_distance(center, (tremor.latitude, tremor.longitude)) <= radius_km, axis=1
    )

    # Filter by time
    initial_time = earthquake.date - timedelta(period_days)
    final_time = earthquake.date
    filter_time = (tremors_list['date'] >= initial_time) & (tremors_list['date'] < final_time)

    premonitory_tremors_list = tremors_list[filter_radius & filter_time]
    return premonitory_tremors_list

In [ ]:
#new dataframe
earthquakes_and_premonitory = earthquakes_list.drop(columns=['tsunami','data_type'])
from statistics import mean

def avg_and_number_premonitory_tremors(earthquakes_list, tremors_list, radius_km, period_days):
    premt_avg_mag = []
    premt_quantity = []

    for _, earthquake in earthquakes_list.iterrows():
        premonitory_tremors_list = premonitory_tremors(earthquake, tremors_list, radius_km, period_days)
        premt_quantity_e = len(premonitory_tremors_list)
        premt_avg_mag_e = premonitory_tremors_list['magnitudo'].mean() if premt_quantity_e > 0 else 0
        premt_avg_mag.append(premt_avg_mag_e)
        premt_quantity.append(premt_quantity_e)

    return premt_avg_mag, premt_quantity
    
period_days_list = [1,2,3,4,5,6,7]
radius_km = 250
for period_days in period_days_list:
    result = avg_and_number_premonitory_tremors(earthquakes_list, tremors_list, radius_km, period_days)
    avg_column_name = f"Avg_Magnitude_{period_days}days"
    num_column_name = f"Number_of_Tremors_{period_days}days"
    earthquakes_and_premonitory[avg_column_name] = result[0]
    earthquakes_and_premonitory[num_column_name] = result[1]
    print("Day {} done".format(period_days))

condition = earthquakes_and_premonitory.date >= firts_date_tremor + timedelta(max(period_days_list))
earthquakes_and_premonitory = earthquakes_and_premonitory[condition]
earthquakes_and_premonitory.to_csv(r'..\data\earthquakes_and_premonitory.csv')
earthquakes_and_premonitory.head()

In [16]:
# there is a way to do it efficiently, 1 list of premonitory, and of that list extract for all the period days